<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Troject1{% endblock %}</title>
    <!-- load the path to your static files -->
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'tasks/style.css'%}" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js" ></script>

</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'tasks:home' %}">Welcome to Troject1</a>
        </div>
        <!--- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="{% url 'tasks:add-task' %}">Add Tasks</a>
                </li>
            </ul>

        </div>

    </div>
</nav>

{% block body %}
{% endblock %}

</body>
</html>